<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'render/css/style.css' %}">
    <title>Ask my Video</title>
</head>
<body>
    <header>
        <h1>Ask my Video</h1>
    </header>
    <section class="main-content">
        <p>Welcome to Ask my Video! Insert a YouTube URL below to get started.</p>
        <form method="post" action="{% url 'process_url' %}">
            {% csrf_token %}
            <label for="youtube-url">Enter YouTube URL:</label>
            <input type="text" id="youtube-url" name="youtube_url" required>
            <button type="submit" class="styled-button">Get Video Info</button>
        </form>
    </section>
</body>
</html>
